@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Colors */

@theme {
  /* Container Configuration */
  --container-center: true;
  --container-padding: 1rem;

  /* Screen Breakpoints */
  --screen-xs: 450px;
  --screen-sm: 575px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1200px;
  --screen-2xl: 1400px;

  /* Colors */
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #121723;
  --color-dark: #1d2430;
  --color-primary: #4a6cf7;
  --color-yellow: #fbb040;
  --color-bg-dark: #171c28;
  --color-body: #788293;
  --color-body-dark: #959cb1;
  --color-stroke: #e3e8ef;
  --color-stroke-dark: #353943;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-dark: #1e232e;
  --color-gray-light: #f0f2f9;

  /* Box Shadows */
  --shadow-signUp: 0px 5px 10px rgba(4, 10, 34, 0.2);
  --shadow-one: 0px 2px 3px rgba(7, 7, 77, 0.05);
  --shadow-two: 0px 5px 10px rgba(6, 8, 15, 0.1);
  --shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);
  --shadow-sticky: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --shadow-sticky-dark: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  --shadow-feature-2: 0px 10px 40px rgba(48, 86, 211, 0.12);
  --shadow-submit: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-submit-dark: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-btn: 0px 1px 2px rgba(4, 10, 34, 0.15);
  --shadow-btn-hover: 0px 1px 2px rgba(0, 0, 0, 0.15);
  --shadow-btn-light: 0px 1px 2px rgba(0, 0, 0, 0.1);

  /* Drop Shadows */
  --drop-shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);
}

/* Container Styles */
.container {
  @apply mx-auto px-[var(--container-padding)];
  @apply max-w-[var(--screen-2xl)];
}
